@import "./variable";

*{
    padding: 0;
    margin: 0;
}



/* width */
::-webkit-scrollbar {
    width: 0  px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $black; 
  }
  
   











body{
    font-family: $font;
    background-color: $background;
    overflow-x: hidden;
}

.logo{
    font-weight: 900;
    font-size: 25px;
    color: $black;

    i{
        font-size: 30px;
    }
}

h1, h2{
    font-weight: 900;
    color: $black;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 1.8rem;
}

p{
    font-weight: 500;
    font-size: 16px;
    color: $black;
}



button{
    border: none;
    padding: 13px 25px 13px 25px;
    cursor: pointer;
     font-size: 12px;
     font-weight: 700;
     border-radius: 30px;
}












/* ///////////========== HOME PAGE ==========/////////////// */


/* /////////// Hero haeder /////////////// */
.hero-header{
    height: 100vh;

   
 .hero-section{
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 10px;

    .text-section{
        h1{
            color: $black;
        }

        button{
            background-color: $black;
            color: white;
            margin-top: 30px;
        }
       
    
    }

    

    .img{
         padding-right: 0px;
        img{
            
            height: 450px; 
           
        }

        .rotate {
            animation: rotation 90s infinite linear;
          }
    }

    

 }

} 






@media (max-width: 1185px){
  .hero-section{
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 10px;
    .text-section{
      h1{
        font-size: 2rem;
      }
    }

    .img{
      padding-right: 10px;
 }
}

}


@media (max-width: 900px){
  .hero-section{
    justify-content: center;
    .text-section{
      z-index: 10;
     text-align: center;
    }

 .img{
   position: absolute;
   z-index: 1;
   opacity: 0.2;
   left: 15%;
 }

}
}

@media (max-width: 565px){
  .hero-section{
    .text-section{
      h1{
        font-size: 1.8rem;
      }
    }
  }
}




/*  End of the hero header  */


@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


















/*////////////////////////////////////////////////////////
///  PROJECTS//////// */
.projects{
    background-color: white;
    width: 95%; 
    margin: 50px auto;
    padding: 50px 0px;
    box-shadow: 0px 6px 46px -7px rgba(0,0,0,0.55);
    border-radius: 20px;
    

    .project-box{
        margin-top: 100px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 400px);

        .box{
            padding: 20px;
            background-color: $black;
            margin: 30px;
            height: 300px;
            border-radius: 20px;
            box-shadow: 0px 6px 46px -7px rgba(0,0,0,0.90);

            .img-box{
                background-color: white;
                height: 200px;
                width: 100%;
                border-radius: 20px;

                img{
                    border-radius: 20px;
                    width: 100%;
                    height: 100%;
                }
            }

            h4{
                color: white;
            }
            button{
                background-color: white;
            }
        }
    }
}



@media(max-width: 840px){
  .projects{
      .project-box{
        grid-template-columns: repeat(1, 400px);
      }
  }

}




/*////////////////////////////////////////////////////////
///  PROCESS  //////// */


.process{
    background-color: $black;
    width: 95%; 
    margin: 200px auto;
    padding: 100px 0px;
    box-shadow: 0px 6px 46px -7px rgba(0,0,0,0.55);
    border-radius: 20px;

    h2{
        color: white;
    }


.project-img1{
    img{
        position: absolute;
        left: -130px;
        height: 350px;
    }
    .rotate {
        animation: rotation 60s infinite linear;
      }
}


.project-img2{
    img{
        position: absolute; 
        right: -150px;
        height: 350px;
    }
    .rotate {
        animation: rotation 60s infinite linear;
      }
}

 

}



 

 


 
.timeline {
  margin: 20px auto;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Card container */
.card {
  position: relative;
  width: 500px; 
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid white;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  background: white;
  color: white;
  border-radius: 10px;
  padding: 10px;

  p{
      font-size: 15px;
  }
}

/* Title of the card */
.title {
  color: $black;
  position: relative;
  padding-bottom: 5px;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid orangered;
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
  right: -45px;
}


@media(max-width: 650px){
    .card {
        width: 400px;
      }
}

@media(max-width: 535px){
    .card {
        width: 300px;
      }
}






























/*////////////////////////////////////////////////////////
///  OUR TECH //////// */
.out-tech{
  margin-top: 150px;

.tech-section{
  background-color: $black;
    width: 95%; 
    margin: 150px auto;
    padding: 100px 0px;
    box-shadow: 0px 6px 46px -7px rgba(0,0,0,0.55);
    border-radius: 20px;
}

h2{
  color: white;
}
p{
  color: white;
}

hr {
  border:none;
  border-top:1px dotted white;
  height:1px;
  width:10%;
}

.hand{
  position: relative;
  height: 30px;
  top: 20px;
}
.hand-move{
  animation: hand-move 5s infinite linear;
}

@keyframes hand-move{
  0%{
    transform: translateX(30px)
  }
  50%{
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(30px)
  }
}

.tech-box{
  height: 250px;
  width: 300px;
  margin: 0px auto;
  border-radius: 20px;

  img{
    height: 100px;
  }

  .swiper {
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    // width: 100%;
    // height: 100%;
    object-fit: cover;
  }

}

}









/*////////////////////////////////////////////////////////
///  TEAM SECTION //////// */

.team-section{
  background-color: white;
  width: 95%; 
  margin: 100px auto;
  padding: 100px 0px;
  box-shadow: 0px 6px 46px -7px rgba(0,0,0,0.55);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin: 1px auto; 

  .team-box{ 
   margin-top: 50px;
   display: grid;
   align-items: center;
   grid-template-columns: repeat(4, 200px);
   justify-content: center;
   
    
  }


     
  img{
    height: 170px;
  }
}



@media(max-width: 1000px){
  .team-section{
     .team-box{
       grid-template-columns: repeat(2, 200px);
     }

     .team-text{
       margin-bottom: 50px;
       text-align: center;
     }
  }
}

@media(max-width: 530px){
  .team-section{
     .team-box{
       grid-template-columns: repeat(1, 200px);
     }
  }
}




/*////////////////////////////////////////////////////////
///  CONTACT SECTION //////// */

.contact__section{
  margin-top: 200px;
  padding-bottom: 100px;
  background-color: $black;
  padding-top: 80px;


  h2,p{
   color: white;
  }
 

}


 






#my-form {
  background-color: white;
  padding: 80px 1px;
  width: 95%;
  margin: 0px auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#my-form label {
  color: $black;
  display: inline-block;
  margin-bottom: 6px;
}
 

#my-form .form-field-full {
  width: 100%;
  position: relative;
}

#my-form .form-field-half {
  position: relative;
  width: 48%;
  margin-right: 30px;
  display: inline-block;
  padding-bottom: 30px;
   
}

#my-form input:not(input[type=submit]), #my-form select, #my-form textarea {
    background: #F8F8F8;
  color: #3D405B;
  padding: 10px;
  border: none;
  font-size: 16px;
  width: 100%;
  border-bottom: 2px solid $black;
  outline: none;
}

 


#my-form input[type="submit"] {
  border: none;
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  font-size: 18px;
}

#my-form .btn-con{
  border-radius: 0;
  background-color: $black;
  color: white;
  width: 50%;
}





#status {
  margin-top: 3px;
  width: 60%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  height: 60px;
   
}
#status.success {
  background-color: rgb(211, 250, 153); 
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}








 















.footer-section{
   display: flex;
   justify-content: space-between;
   padding: 70px 50px;
   background-color: $black;
   

   .foot{
     display: flex;
     flex-direction: column;

     span{
       padding-bottom: 20px;
       font-size: 14px;
       color: white;
       text-decoration: none;

       a{
         color: white;
         text-decoration: none;
       }
     }

     
   }

   .foot-3{
      span{
        a{
          color: white;
          font-size: 25px;
          font-weight: 900;
        }
      }
     p{
       color: white;
       font-size: 14px;
     }
   }
}



@media(max-width: 630px){
  .footer-section{
    flex-direction: column;

    .foot{
      margin-bottom: 50px;
      margin-top: 5px;
    }
a{
  display: inline-block;
}

  }
}

