<%- include("include/basic-structure.ejs"); -%> 

<title>TiqniaSpace-  Contact Us</title>

<%- include("include/navbar") -%>
    

  

   

<div class="contact-page-section">
           <center><h2>Contact Us</h2></center>
   <div class="contact-box">
       <div class="box1 box">
           <img src="images/mail.png"> <br/><br/>
           <!-- <p>hi@tiqniaspace.com</p> -->
           <a href="mailto:hi@tiqniaspace.com"><p>hi@tiqniaspace.com</p></a>
       </div>

       <div class="box1 box">
        <img src="images/phone.png"> <br/><br/>
        <!-- <p>(+91 95 5555 0145)</p> -->
        <a href="tel:+919555550145"><p>(+91 95 5555 0145)</p></a>
       </div>
   </div>


    <br/><br/>
    <%-  include("include/contact-form")  -%>
</div>








<%-  include("include/footer")  -%>