<%- include("include/basic-structure.ejs"); -%> 

<title>TiqniaSpace-  Our Services</title>
 

<%- include("include/navbar") -%>
    


<div class="service-page">


<div class="service-img">
    <img src="images/background-1.png">
</div>


<div class="services">
    
<!-- /////////////////////// SERVICES SECTION -->
<%- include("include/services")  -%>
<!-- End of the service section -->
</div>



</div>




<%-  include("include/footer")  -%>