<%- include("include/basic-structure.ejs"); -%> 

<title>TiqniaSpace-  Our Work</title>


<%- include("include/navbar") -%>
    
<div class="work-page">

<center><img src="images/bg-3.png"></center>




<div class="projects">
    <center><h2>Made by TiqniaSpace</h2></center>

    <div class="project-box">

        <!-- <div class="box box1">
           <div class="img-box">
            <img src="images/work1.png" alt="" height="100px">
           </div><br/>
           <h4>Portfolio Website</h4><br/>
           <a href="https://mesaqib.github.io/Portfolio.github.io/"><button>VISIT SITE</button></a>
        </div>

        <div class="box box1">
            <div class="img-box">
                <img src="images/work1.png" alt="" height="100px">
               </div><br/>
               <h4>Website development</h4><br/>
               <a href=""><button>VISIT SITE</button></a>
        </div>

        <div class="box box1">
            <div class="img-box">
                <img src="images/work1.png" alt="" height="100px">
               </div><br/>
               <h4>Website development</h4><br/>
               <a href=""><button>VISIT SITE</button></a>
        </div>

        <div class="box box1">
            <div class="img-box">
                <img src="images/work1.png" alt="" height="100px">
               </div><br/>
               <h4>Website development</h4><br/>
               <a href=""><button>VISIT SITE</button></a>
        </div>
       
        <div class="box box1">
            <div class="img-box">
                <img src="images/work1.png" alt="" height="100px">
               </div><br/>
               <h4>Website development</h4><br/>
               <a href=""><button>VISIT SITE</button></a>
        </div>

        <div class="box box1">
            <div class="img-box">
                <img src="images/work1.png" alt="" height="100px">
               </div><br/>
               <h4>Website development</h4><br/>
               <a href=""><button>VISIT SITE</button></a>
        </div>

        <div class="box box1">
            <div class="img-box">
                <img src="images/work1.png" alt="" height="100px">
               </div><br/>
               <h4>Website development</h4><br/>
               <a href=""><button>VISIT SITE</button></a>
        </div>

        <div class="box box1">
            <div class="img-box">
                <img src="images/work1.png" alt="" height="100px">
               </div><br/>
               <h4>Website development</h4><br/>
               <a href=""><button>VISIT SITE</button></a>
        </div> -->

        <div class="box box1">
            <div class="img-box">
             <img src="images/website-1.png" alt="" height="100px">
            </div><br/>
            <h4>Portfolio Website</h4><br/>
            <a href="https://mesaqib.github.io/Portfolio.github.io/" title="blank"><button>VISIT SITE</button></a>
         </div>
 
         <div class="box box1">
             <div class="img-box">
                 <img src="images/website-2.png" alt="" height="100px">
                </div><br/>
                <h4>App Landing Website</h4><br/>
                <a href="https://inspiring-hodgkin-836627.netlify.app/"><button>VISIT SITE</button></a>
         </div>
 
         <div class="box box1">
             <div class="img-box">
                 <img src="images/website-3.png" alt="" height="100px">
                </div><br/>
                <h4>Business Website</h4><br/>
                <a href="https://affectionate-turing-617701.netlify.app/"><button>VISIT SITE</button></a>
         </div>





    </div>
</div>








</div>

 





<%-  include("include/footer")  -%>