
<section id="contact-form">
    <div class="fix-center">
       <div class="form-container">
           <form id="my-form" method="POST" action="https://formspree.io/f/xrgjzbzz">
               <div class="form-field-half">
                   <label for="">Name*</label>
                   <input type="text" name="name" placeholder="Enter your name" required>
                  
                </div>
                <div class="form-field-half">
                   <label for="">Email Id*</label>
                   <input type="email" name="email"  placeholder="Enter your Email Id" required>
                    
                </div>
                <div class="form-field-half">
                   <label for="">Phone*</label>
                   <input type="tel" name="phone" placeholder="Enter your Phone number" required>
                   
                </div>
                <div class="form-field-half">
                   <label for="">Choose service*</label>
                   <select name="services" required>
                       <option value="">Select service</option>
                       <option value="Website Development">Website Development</option>
                       <option value="Web Designing">Web Designing</option>
                       <option value="WordPress Website">WordPress Website</option>
                       <option value="E-commerce">E-commerce Website</option>
                       <option value="Logo Designing">Logo Designing</option>
                       <option value="Social media marketing">Social media Marketing</option> 
                       <option value="Headless CMS development">Headless CMS development</option>
                       <option value="facebook ads ">Facebook Ads Instagram ads</option>
                       <option value="Wix website">Wix Website</option>
                   </select>
                 
               </div>
               <div class="form-field-half">
                <label for="">What do you prefer?*</label>
                   <select name="preference" id="sit_preference" required>
                       <option value="">Your preference?</option>
                       <option value="A phone call">A Phone call</option>
                       <option value="zoom or google meet">Zoom/Google meet</option>
                       <option value="Whatsapp">A quick chat on whatsapp</option>
                   </select>
                  
               </div>
               <div class="form-field-half">
                    <label for="">Date and time of Online meet*</label>
                    <input type="datetime-local" name="date-and-time" required>
                     </div>
                <div class="form-field-half">
                   <label for="">What is your budget range?*</label>
                    <select name="sit_budget-range">
                        <option value="">Budget range?</option>
                        <option value="Rs.8000 to Rs.16000">Rs.8000 to Rs.12000</option>
                        <option value="Rs.12000 to Rs.20000">Rs.12000 to Rs.20000</option>
                        <option value="Rs.22000 to Rs.30000">Rs.22000 to Rs.30000</option>
                        <option value="Rs.32000 to Rs.40000">Rs.32000 to Rs.40000</option>
                        <option value="Rs.2500 to Rs.5000">Rs.2500 to Rs.6000 (Range for only Logo and Social media ads)</option>
                    </select>  
               </div>
   
  
               <div class="form-field-half">
                    <label for="">Anything additional you want to say?</label>
                    <textarea rows="4" name="sit_message" rows="30" placeholder="Type your message here" style="height: 150px;"></textarea>
               </div>
               <!-- <input type="submit" id="submit-btn-contact" class="btn form-field-half"> -->
               <button class="btn-con">SUBMIT</button>
               <div id="status"></div>
           </form>
       </div>
    </div>
  </section>