
<div class="footer-section">
    <div class="foot-1 foot">
    
    <span> <a href="about">ABOUT</a> </span>
    <span>  <a href="work">WORK</a> </span>
    <span> <a href="contact">CONTACT</a> </span>
    </div>
    
    <hr/>
    
    <div class="foot-2 foot">
      <span> <a href="" style="cursor: auto;">WEBSITE DEVELOPMENT</a> </span> 
      <span><a href="" style="cursor: auto;"> WEB DESIGNING </a></span>
      <span><a href="" style="cursor: auto;"> WORDPRESS DEVELOPMENT </a></span>
      <span><a href="" style="cursor: auto;"> E-COMMERCE WEBSITE </a></span>
      <span> <a href="" style="cursor: auto;"> LOGO DESIGNING </a></span>
      <span><a href="" style="cursor: auto;"> SOCIAL MEDIA MARKETING </a></span>
      <span><a href="" style="cursor: auto;"> FACEBOOK ADS AND INSTA ADS </a></span>
    </div>
    
    <hr/>
    
    <div class="foot-3 foot">
     <span> <a href="/"> Tiqnia<i class="fab fa-staylinked"></i>pace</a></span>
      <p>© TiqniaSpace 2021</p>
    </div>
    </div>

    
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script src="js/script.js"></script>

</body>
</html>