<div class="out-tech">
    <div class="tech-section">
      <center><h2>Our Essential tech Stack</h2></center><br/>
    <center>
      <p>We are proficient with the full technology stack required to build and scale website </p>
    </center>
  <br/><br/><br/><br/>
  <center><img src="images/icon-hand.svg" alt="" class="hand hand-move"></center>
  <center> <hr/> </center> <br/>
  <center><p>Drag for more</p></center>
    <br/><br/><br/><br/>
   <div class="tech-box">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="images/nodejs-development-services.svg" alt="">   
        </div>
  
        <div class="swiper-slide">
          <img src="images/mongodb-development-services.svg" alt=""> 
        </div>

        <div class="swiper-slide">
          <img src="images/wordpress-icon.png" alt=""> 
        </div>

        <div class="swiper-slide">
          <img src="images/mysql-development-services.svg" alt=""> 
        </div>

        <div class="swiper-slide">
          <img src="images/wordpress-icon.png" alt=""> 
        </div>

        <!-- <div class="swiper-slide">
          <img src="images/nodejs-development-services.svg" alt=""> 
        </div>

        <div class="swiper-slide">
          <img src="images/nodejs-development-services.svg" alt=""> 
        </div> -->

        <!-- <div class="swiper-slide">Slide 8</div>

        <div class="swiper-slide">Slide 9</div> -->

      </div>
      <div class="swiper-scrollbar"></div>
    </div>
   </div>
  
    </div>
  </div>