<div class="service-section">
    
    <center><h2>IT Services You Can Count On</h2></center><br/>
    <br/>

    <div class="ser-sec">
        <div class="service service1"> 
            <br/>
          <img src="images/website.png"><br/><br/>
          <h3>Website Development</h3> <br/><br/>
          <a href="/contact"> <button>CONTACT</button> </a>
        </div> 
        
        <div class="service service2">
           <br/>
           <img src="images/branding.png"><br/><br/>
           <h3>Web designing</h3> <br/><br/>
           <a href="/contact"> <button>CONTACT</button> </a>
        </div> 
   
        <div class="service service3">
           <br/>
           <img src="images/wordpress-icon.png"><br/><br/>
           <h3>Wordpress Website</h3> <br/><br/>
           <a href="/contact"> <button>CONTACT</button> </a>
        </div> 
   
        <div class="service service4">
           <br/>
           <img src="images/online-shop.png"><br/><br/>
           <h3> E-commerce Website</h3> <br/><br/>
           <a href="/contact"> <button>CONTACT</button> </a>
        </div> 
   
        <div class="service service5">
           <br/>
           <img src="images/graphic-design.png"><br/><br/>
           <h3>Logo designing</h3> <br/><br/>
           <a href="/contact"> <button>CONTACT</button> </a>
        </div> 
   
        <div class="service service6">
           <br/>
           <img src="images/digital-marketing.png"><br/><br/>
           <h3>Social media marketing</h3> <br/><br/>
           <a href="/contact"> <button>CONTACT</button> </a>
        </div>
   
        <div class="service service7">
           <br/>
           <img src="images/online-advertising.png"><br/><br/>
           <h3>Facebook Ads & insta ads</h3> <br/><br/>
           <a href="/contact"> <button>CONTACT</button> </a>
        </div> 
    </div>

   </div>