<div class="team-section">
    <center><h2>It’s all about the people.</h2></center> <br/>
    <center><p>We are good ones. And so are our clients. We wouldn’t have it any other way.
      Meet the team.</p></center>
    
    <div class="team-box">
    
    
      <div class="team">
        <div class="team-img">
          <img src="images/me.png" alt="">
        </div>
        <div class="team-text"><br/>
          <h4>Saqib</h4>
          <p>(Founder) Full stack</p>
        </div>
       </div>
      
       <div class="team">
        <div class="team-img">
          <img src="images/tauqeer.png" alt="">
        </div>
        <div class="team-text"><br/>
          <h4>Vaibhav Katre</h4>
          <p>(Wordpress-developer)</p>
        </div>
       </div>
      
       <div class="team">
        <div class="team-img">
          <img src="images/blank-me.png" alt="">
        </div>
        <div class="team-text"><br/>
          <h4>Rohit</h4>
          <p>(Back-end)</p>
        </div>
       </div>
      
       <div class="team">
        <div class="team-img">
          <img src="images/blank-me.png" alt="">
        </div>
        <div class="team-text"><br/>
          <h4>Ajay</h4>
          <p>(Full stack)</p>
        </div>
      </div>
    </div>
    
    </div>